:root {
  --gray-90: #1a202c;
  --gray-80: #2d3748;
  --gray-70: #4a5568;
  --gray-60: #718096;
  --gray-50: #a0aec0;
  --gray-40: #cbd5e0;
  --gray-30: #e2e8f0;
  --gray-20: #edf2f7;
  --gray-10: #f7fafc;
  --gray: var(--gray-50);
  --brand-90: #252750;
  --brand-80: #2f3574;
  --brand-70: #353f97;
  --brand-60: #3b4cbf;
  --brand-50: #475de5;
  --brand-40: #8192ee;
  --brand-30: #aebaf4;
  --brand-20: #daddfb;
  --brand-10: #f0f2ff;
  --brand: var(--brand-50);
  --red-90: #672323;
  --red-80: #973030;
  --red-70: #c53030;
  --red-60: #e53e3e;
  --red-50: #fa5757;
  --red-40: #fa8383;
  --red-30: #feb2b2;
  --red-20: #fedcdc;
  --red-10: #fff5f5;
  --red: var(--red-50);
  --green-90: #284927;
  --green-80: #2e612d;
  --green-70: #348232;
  --green-60: #38a336;
  --green-50: #4db656;
  --green-40: #6fcc76;
  --green-30: #a4e5a9;
  --green-20: #d0f6d3;
  --green-10: #f1fef2;
  --green: var(--green-50);
}
